@import url('./layout_base.css');

@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 공통부분 */
body{
    font-family: 'OTWelcomeRA';
    font-size: 16px;
    height: 100%;
    color: #444;
    white-space: normal;
    word-wrap: break-word;
    line-height: 1;
}
*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: inherit;
}
ul,ol,li{
    list-style: none;
}
a{text-decoration: none;}
a:link, a:visited, a:hover, a:focus {
    color: #444;
}
/* clear 클래스는 float 없애는 용도라 after에 clear:both 이용해서 없애주기 */
.clear::after {
    content: "";
    display: block;
    clear:both;
}
img{
    border: none;
}

/* -------------------- 메인 페이지 (index.html) 시작 -------------------- */

/* -------------------- 메인 페이지 (index.html) 끝 --------------------- */