@charset "UTF-8";
.grid_container {
		display: grid;
		grid-template:
			"main main main" 60%
			"aside aside aside" 40%
			/1fr 1fr 1fr
}
main {
	grid-area: main;
}
aside {
	grid-area: aside;
	box-sizing: border-box;
	padding: 10px;
}
.mini-board {
	height: 80%;
	overflow: scroll;
	padding: 5px;
	margin-bottom: 10px;
}














@media (min-width: 790px) {
	.grid_container {
	display: grid;
	grid-template :
		"main main aside" 40%
		"main main aside" 40%
		/1fr 1fr 1fr;
	}
}


@media (min-width: 1024px) {
	.grid_container {
		display: grid;
		grid-template :
			"main main aside" 40%
			"main main aside" 40%
			/1fr 1fr 1fr
				}

}